@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 100%;
}

.btn {
  @apply inline-block px-5 py-3 font-medium;
}

.product-link {
  @apply inline-block border-b-2 pb-1 font-semibold;
}